table {
    width: 100%;
}

.example-container {
    height: 350px;
    overflow: auto;
}


.number_digit {
    width: 10%
}

.non_digit {
    width: 15%
}

.demoBlockHolder {
    height: 50%
}

.votingBlockHolder {
    height: 50%
}
