<div class="votingBlockHolder">
    <mat-toolbar>Voting Blocks</mat-toolbar>
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="this.phase0Service.votingBlocs">

            <ng-container matColumnDef="position">
                <th class="number_digit" mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element"> {{element.geoId}} </td>
            </ng-container>

            <ng-container matColumnDef="demoGroup">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> Demographic Group</th>
                <td mat-cell *matCellDef="let element"> {{element.demographicBloc}} </td>
            </ng-container>

            <ng-container matColumnDef="county">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> County</th>
                <td mat-cell *matCellDef="let element"> {{element.county}} </td>
            </ng-container>

            <ng-container matColumnDef="party">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> Party</th>
                <td mat-cell *matCellDef="let element"> {{element.votingBloc}} </td>
            </ng-container>

            <ng-container matColumnDef="percChosen">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> % of voted for Party</th>
                <td mat-cell *matCellDef="let element">
                    {{(getPartyVotes(element.votingSet, element.votingBloc) / sumElectionVotes(element.votingSet) * 100).toFixed(2)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="totalPop">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> Total Votes</th>
                <td mat-cell *matCellDef="let element">
                    {{sumElectionVotes(element.votingSet)}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>


<div class="demoBlockHolder">
    <mat-toolbar>Demographic Blocks</mat-toolbar>
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="this.phase0Service.demographicBlocs">

            <ng-container matColumnDef="position">
                <th class="number_digit" mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element"> {{element.geoId}} </td>
            </ng-container>

            <ng-container matColumnDef="demoGroup">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> Demographic Group</th>
                <td mat-cell *matCellDef="let element"> {{element.demographicBloc}} </td>
            </ng-container>

            <ng-container matColumnDef="county">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> County</th>
                <td mat-cell *matCellDef="let element"> {{element.county}} </td>
            </ng-container>

            <ng-container matColumnDef="party">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> Party</th>
                <td mat-cell *matCellDef="let element"> NA</td>
            </ng-container>

            <ng-container matColumnDef="percChosen">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> % of chosen Group</th>
                <td mat-cell
                    *matCellDef="let element">
                    {{(element.demographics[converter(element.demographicBloc)] / element.demographics.total * 100).toFixed(2)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="totalPop">
                <th class="non_digit" mat-header-cell *matHeaderCellDef> Total Population</th>
                <td mat-cell
                    *matCellDef="let element"> {{element.demographics.total}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
