<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            Map
        </ng-template>
        <mat-card>
            <mat-card-content>
                <app-home-map></app-home-map>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>State Info</span>
        </ng-template>
        <app-state-info></app-state-info>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Phase 0 Table
        </ng-template>
	<app-phase0-table></app-phase0-table>
    </mat-tab>

</mat-tab-group>
