<mat-card>
    Required Percentage for Population Majority:
    <br>
    <mat-slider min="50" max="100" step="1" [(ngModel)]="this.majorityPercentage"></mat-slider>
    {{this.majorityPercentage}}
</mat-card>
<mat-card>
    Required Percentage for Voting Majority:
    <br>
    <mat-slider min="50" max="100" step="1" [(ngModel)]="this.votingPercentage"></mat-slider>
    {{this.votingPercentage}}
</mat-card>
<mat-card>
    Specify Minorities:
    <br>
    <mat-form-field>
        <mat-select [(ngModel)]="this.selectedRaces" multiple>
            <mat-option *ngFor="let race of this.mapService.possibleRaces"
                        [value]="race.backendName">{{race.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-card>
<mat-card>
    Specify Election:
    <br>
    <mat-form-field>
        <mat-select [(ngModel)]="selectedElection">
            <mat-option *ngFor="let election of this.mapService.elections"
                        [value]="election.backendName">{{election.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-card>
<mat-card>
    <button (click)="this.phase0Service.run(createPhase0JSON())">Phase 0</button>
</mat-card>
