.map-size {
   height: 300px;
   width: 60%;
   vertical-align: top;
}
.setting-bar{
   width: 10%;
   vertical-align: top;
}
.information-bar{
   vertical-align: top;
}
.inline-block{
   display: inline-block;
}
