<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            Phase 0
        </ng-template>
        <mat-card>
            Required Percentage for Population Majority:
            <br>
            <mat-slider min="50" max="100" step="1" [(ngModel)]="majorityPercentage"></mat-slider>
            {{majorityPercentage}}
        </mat-card>
        <mat-card>
            Required Percentage for Voting Majority:
            <br>
            <mat-slider min="50" max="100" step="1" [(ngModel)]="votingPercentage"></mat-slider>
            {{votingPercentage}}
        </mat-card>
        <mat-card>
            Specify Minorities:
            <br>
            <mat-form-field>
                <mat-select [(ngModel)]="selectedRaces" multiple>
                    <mat-option *ngFor="let race of this.mapService.possibleRaces" [value]="race.backendName">{{race.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
        <mat-card>
            Specify Election:
            <br>
            <button on-click="test()">Test</button>
            <mat-form-field>
                <mat-select [(ngModel)]="selectedElection">
                    <mat-option *ngFor="let election of this.mapService.elections" [value]="election.backendName">{{election.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
        <mat-card>
            <button (click)="phase0()">Phase 0</button>
        </mat-card>
        <div>
            <table mat-table [dataSource]="selectedRacePrecincts">
                <ng-container matColumnDef="county">
                    <th mat-header-cell *matHeaderCellDef> County</th>
                    <td mat-cell *matCellDef="let precinct"> {{precinct.county}} </td>
                </ng-container>
                <ng-container matColumnDef="demographic">
                    <th mat-header-cell *matHeaderCellDef> Demographic</th>
                    <td mat-cell *matCellDef="let precinct"> {{precinct.demographicBloc}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Phase 1
        </ng-template>
        Minority
        Thresholds
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Table
        </ng-template>
    </mat-tab>
</mat-tab-group>
