<mat-tab-group mat-stretch-tabs>
    <mat-tab>
        <ng-template mat-tab-label>
            Basic
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Phase 0
        </ng-template>
        <app-phase0></app-phase0>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Phase 1
        </ng-template>
        <app-phase1></app-phase1>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Phase 2
        </ng-template>
    </mat-tab>
</mat-tab-group>
