<mat-card>
    <mat-checkbox labelPosition="before" [(ngModel)]="this.toggleLayer"
                  (click)="mapService.toggleDistrictPrecinctLayers(this.toggleLayer)">Toggle
        Precincts
    </mat-checkbox>
    <br>
    <br>
    Specify Election:
    <mat-form-field>
        <mat-select [(ngModel)]="selectedElection">
            <mat-option *ngFor="let election of this.mapService.elections"
                        [value]="election.backendName" (onSelectionChange)="electionChange($event)">{{election.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
</mat-card>
